.mangaGridContainer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mangaGridTitle {
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold !important;
}

.mangaGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 600px) {
  .mangaGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .mangaGridContainer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mangaGridTitle {
    margin-bottom: 40px;
  }

  .mangaGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .mangaGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
